.hesaplayici {
  max-width: 300px;
  margin: 50px auto;
  padding: 26px;
  background-color: rgba(0, 187, 255, 0.712);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sonuc {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 24px;
}

.tuslar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.tuslar button {
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
}

.tuslar button:hover {
  background-color: #f0f0f0;
}
